{
  "folders": [
    {
      "name": "project-root",
      "path": "."
    },
  ],
  "settings": {
    "files.exclude": {
      "lib": true,
      "projects": true,
      "experiments": true
    }
  }
}
